<?php
$title = 'Cart';
$this->headTitle($title);
?>
<div>
    <div class="jumbotron text-center">
        <h1>Your Cart</h1>
        <p>Resize this responsive page to see the effect!</p>
    </div>
    <form method="post" action="<?= $this->url('wines', ['action' => 'checkout']) ?>">
        <div class="container">
            <?php if (isset($_SESSION['cart']['wine'])) { ?>
                <div class="table-responsive">
                    <!--Table-->
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Details</th>
                                <th>Photo</th>
                                <th>Show</th>
                                <th>Quantity</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($_SESSION['cart']['wine'] as $wine) : ?>
                                <tr>
                                    <td>
                                        <h5 class="card-title"><?= $this->escapeHtml($wine->brand) ?></h5> 
                                        <br>
                                        <h5 class="text-muted"><?= $this->escapeHtml($wine->model) ?></h5>
                                    </td>
                                    <td>
                                        <img src="<?= $this->basePath($wine->photo) ?>" width="120px">
                                    </td>
                                    <td>
                                        <a href="<?= $this->url('wines', ['action' => 'show', 'id' => $wine->id]) ?>">Show this Wine</a>
                                    </td>
                                    <td>
                                        <input type="hidden" name="<?= $this->escapeHtml($wine->id) ?>" value="<?= $this->escapeHtml($wine->quantity) ?>">
                                        <h4><?= $this->escapeHtml($wine->quantity) ?></h4>
                                    </td>
                                    <td>
                                        <a href="<?= $this->url('wines', ['action' => 'delete', 'id' => $wine->id]) ?>"> 
                                            <button type="button" class="btn btn-primary btn-sm">
                                                X
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
                <div class="container">
                </div> 
                <table class="table">
                    <thead class="thead-dark">
                        <tr>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="<?= $this->url('wines', ['action' => 'deleteCart']) ?>">
                                    <button type="button" class="btn btn-outline-primary">
                                        Delete Cart
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                        </svg>
                                    </button>                          </a>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary btn-lg">Checkout</button>
                            </td>
                        </tr>
                    </tbody>
                </table>



            <?php } else {
                ?>
                <h1>Your cart is empty</h1>
            <?php } ?>
        </div>
    </form>
</div>

<?php
if (isset($form)) {

    $i = 0;
    foreach ($form as $cartForm) {

        $quantityInput = $cartForm->get('quantity');
        $quantityInput->setAttribute('class', 'form-control');

        $submit = $cartForm->get('submit');
        $submit->setAttribute('class', 'btn btn-primary');

        $cartForm->setAttribute('action', $this->url('wines', [
                    'action' => 'checkout',
        ]));

        $cartForm->prepare();

        echo $this->form()->openTag($cartForm);
        ?>
        <br><br>
        <div class="form-group" >

            <?= $this->formElement($quantityInput) ?>
            <?= $this->formElementErrors()->render($quantityInput, ['class' => 'help-block']) ?>

        </div>

        <?php
        $i++;
    }


    echo $this->formSubmit($submit);
    echo $this->formHidden($cartForm->get('id'));
    echo $this->form()->closeTag();
}
?>