
<div>
    <h1>Vin</h1>
    <div class="row"> 
        <?php foreach ($this->paginator as $wine) : ?>
            <div class="col-md-4">
                <div class="card">
                    <div class="card card-body flex-fill">
                        <h5 class="card-title"><?= $this->escapeHtml($wine->brand) ?></h5>
                        <p class="text-muted"><?= $this->escapeHtml($wine->model) ?></p>
                        <?php if (isset($wine->photo)) { ?>
                            <img src="<?= $this->escapeHtml($wine->photo) ?>" width="50px">
                        <?php } ?>
                        <?php if (!isset($wine->photo)) { ?>
                            <img src="view/content/images/products/wine_unknow.jpg" width="50px">
                        <?php } ?>
                        <a href="<?= $this->url('wines', ['action' => 'show', 'id' => $wine->id]) ?>">Show this Wine</a>
                        <br><br>
                    </div>
                </div>
            </div>
        <br>      <br>      <br>
        <?php endforeach; ?>
    </div>
</div>

<?=
$this->paginationControl(
        // The paginator object:
        $this->paginator,
        // The scrolling style:
        'sliding',
        // The partial to use to render the control:
        'partial/paginator',
        // The route to link to when a user clicks a control link:
        ['route' => 'wines']
)
?>



