<?php
// module/Album/view/album/album/edit.phtml:

$title = 'Wine';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>

<?php
$quantityInput = $form->get('quantity');
$quantityInput->setAttribute('class', 'form-control');

$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary');

$form->setAttribute('action', $this->url('wines', [
            'action' => 'cart',
            'id' => $id,
]));

$form->prepare();

echo $this->form()->openTag($form);
?>

</head>


    <!-- Page Content -->

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top img-fluid" src="<?= $this->basePath($this->escapeHtml($wine->photo)) ?>" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Quantity</th>

                            <th>Price</th>

                        </tr>
                    </thead>
                    <tbody>

                    <td style="width: 20%"><?= $this->formElement($quantityInput) ?></td>


                    <td><?= $this->escapeHtml($wine->price) ?></td>

                    </tbody>
                </table>

            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-12">

                <div class="card mt-4">

                    <div class="card-body">
                        <h3 class="card-title"><?= $this->escapeHtml($wine->brand) ?></h3>
                        <h4><?= $this->escapeHtml($wine->model) ?></h4>
                        <p class="card-text"><?= $this->escapeHtml($wine->description) ?></p>
                        <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                        4.0 stars
                    </div>
                </div>
                <!-- /.card -->

                <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        <?= $this->formElementErrors()->render($quantityInput, ['class' => 'help-block']) ?>                        
                        <?php
                        echo $this->formSubmit($submit);
                        echo $this->formHidden($form->get('id'));
                        echo $this->form()->closeTag();
                        ?>
                    </div>

                </div>
                <!-- /.card -->

            </div>
            <!-- /.col-lg-12 -->

        </div>
