<?php
use App\Helpers\Text;
use App\Model\Post;
use App\Router;





//dd($posts);
?>

<h1>Mon Blog</h1>
<?php foreach ($meteos as $post) : ?>
    <tr>
        <td><?= $this->escapeHtml($post->name) ?></td>
        <td><?= $this->escapeHtml($post->slug) ?></td>
        <td>
            <a href="<?= $this->url('meteo', ['action' => 'edit', 'id' => $post->id]) ?>">Edit</a>
            <a href="<?= $this->url('meteo', ['action' => 'delete', 'id' => $post->id]) ?>">Delete</a>
        </td>
    </tr>
<?php endforeach; ?>
</div>